<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Home</title>
</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Node.js</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login">Login</a></li>
                <li><a href="/cadUsuario">Cadastre-se</a></li>
            </ul>
        </div>
    </nav>

    <!-- <div class="container"> -->


    <div class="parallax-container">
        <div class="parallax">
            <img
                src="https://image.freepik.com/free-vector/javascript-frameworks-concept-illustration_114360-743.jpg"
               style="transform: translate3d(-50%, 317.96px, 0px); opacity: 1;">
               
        </div>
    </div>

    

   
    <!-- </div> -->

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">

                </div>
                <div class="col l4 offset-l2 s12">

                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Text
            </div>
        </div>
    </footer>


</body>

</html>